<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/lib/renewal.css">
    <link rel="stylesheet" href="../../resources/css/lib/default.css">

    <script type="text/javascript" src="../../resources/js/lib/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../resources/js/lib/default.js"></script>
    
</head>

<body>
    <header>
        <img src="logo">
        <button>메뉴</button>
    </header>
    <div class="form">
        <input type="text" placeholder="찾으시는 상품이 있으신가요?">
        <a href="#">검색</a>
    </div>
    <div class="main-banner">
        <div class="banner-img"></div>
    </div>
    <div class="notice">
       <div class="dl">
            <h3 class="tit">새소식</h3>
            <a href="#">더보기</a>
       </div>
       <div class="dd"></div>
    </div>
    <div class="banner">
        <a href="#">
            <em>아직 한국교직원공제회 회원이 아니신가요?</em>
            <p>고객이용안내</p>
        </a>
    </div>
    <div class="quick-menu">
        <div class="dl">
            <div class="dt">
                <h3>빠른 서비스이용</h3>
            </div>
            <div class="dd1"></div>
            <div class="dd2"></div>
            <div class="dd3"></div>
            <div class="dd4"></div>
        </div>
    </div>
    <div class="banner2">
        <img src="#" alt="이미지 설명">
    </div>
    <div class="info-txt">
        <span>SB톡톡 어플을 이용해<br>모바일로 간편하게 가입해 보세요!</span>
        <a href="#">비대면이용안내</a>
    </div>
    <footer class="footer">
        <ul>
            <li>개인정보처리방침</li>
            <li>저축은행 비리신고</li>
            <li>고정형 영상정보처리기기 운영관리 방침</li>
        </ul>
        <p>
            <span></span>
            <span></span>
            <div class="select"></div>
        </p>
    </footer>
    <!--  -->
</body>





</html>